= link_to 'メンバー追加', users_path
%label{:for => "toggle"}
  %input#toggle{:name => "toggle", :type => "checkbox"}>/
  切り替え
#map
  #map_html
    - @territories.each do |t|
      %a{"data-point" => "#{t.x},#{t.y}", :href => "#"}= t.user.name
    #map_line 　
