%label{:for => "toggle"}
  %input#toggle{:name => "toggle", :type => "checkbox"}>/
  切り替え
#map
  #map_html
    %a{"data-point" => "-644,602", :href => "#"} とらきち
    %a{"data-point" => "-600,686", :href => "#"} ほりたん
    %a{"data-point" => "-162,140", :href => "#"} 月宮
    %a{"data-point" => "-502,638", :href => "#"} mashiro
    %a{"data-point" => "-587,584", :href => "#"} まかま
    %a{"data-point" => "90,-192", :href => "#"} ukstudio
    %a{"data-point" => "-586,686", :href => "#"} とてながし
    %a{"data-point" => "-538,637", :href => "#"} で
    %a{"data-point" => "-662,704", :href => "#"} ゴワス
    %a{"data-point" => "-680,520", :href => "#"} 結
    #map_line 　

:javascript
  $("a", "#map_html").each(function(){
      var point = $(this).attr('data-point').split(',');
      point[1] = (point[1] < 0) ? parseInt(point[1]) * -1 : point[1] * -1;
      $(this).css("top",point[0]+"px").css("left",point[1]+"px");
      $(this).hover(
        function(e){
        $("#map_html").append(
          $('<div />')
          .addClass('hover')
          .text($(this).text() + "(" + $(this).attr('data-point') + ")")
          .css('top',  $(this).position()['top']-20)
          .css('left', $(this).position()['left']+10)
          );
        },
        function(e){
          $("#map_html div.hover").remove();
        }
      )
  });

  $("#toggle").click(function(e){
    var checked = $(this).attr('checked');
    $("a", "#map_html").each(function(){
      if(checked == 'checked') {
      $(this).trigger('mouseover');
      } else {
      $(this).trigger('mouseout');
      }
      })
    });
