= link_to 'メンバー追加', users_path
%label{:for => "toggle"}
  %input#toggle{:name => "toggle", :type => "checkbox"}>/
  切り替え
#map
  #map_html
    - @territories.each do |t|
      %a{"data-point" => "#{t.x},#{t.y}", :href => "#"}= t.user.name
    #map_line 　

:javascript
  $("a", "#map_html").each(function(){
      var point = $(this).attr('data-point').split(',');
      point[1] = (point[1] < 0) ? parseInt(point[1]) * -1 : point[1] * -1;
      $(this).css("top",point[0]+"px").css("left",point[1]+"px");
      $(this).hover(
        function(e){
        $("#map_html").append(
          $('<div />')
          .addClass('hover')
          .text($(this).text() + "(" + $(this).attr('data-point') + ")")
          .css('top',  $(this).position()['top']-20)
          .css('left', $(this).position()['left']+10)
          );
        },
        function(e){
          $("#map_html div.hover").remove();
        }
      )
  });

  $("#toggle").click(function(e){
    var checked = $(this).attr('checked');
    $("a", "#map_html").each(function(){
      if(checked == 'checked') {
      $(this).trigger('mouseover');
      } else {
      $(this).trigger('mouseout');
      }
      })
    });
